.hero {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: calc($tablet - 1px)) {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(25, 28, 38, 0.2);

    background-image: url('../images/hero/hero-bg_sm@1x.jpg');

    background-image: -webkit-image-set(url('../images/hero/hero-bg_sm@1x.webp') 1x);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/hero/hero-bg_sm@2x.jpg');

      background-image: -webkit-image-set(url('../images/hero/hero-bg_sm@2x.webp') 2x);
    }
  }

  &__container {
    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }

  &__left-side {
    @media screen and (max-width: calc($tablet - 1px)) {
      display: none;
    }

    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: flex-end;
      max-width: 120px;
    }
  }

  &__right-side {
    padding-top: 272px;
    padding-bottom: 237px;

    @media screen and (min-width: $tablet) {
      position: relative;
      flex-grow: 1;
      padding-top: 272px;
      padding-left: 120px;
      background-color: rgba(25, 28, 38, 0.2);
    }

    @media screen and (min-width: $desktop) {
      position: relative;
      flex-grow: 1;
      padding-top: 272px;
      padding-bottom: 208px;
      padding-left: 100px;
    }
  }
  & .uppertitle {
    position: relative;
    z-index: 2;
  }

  &__title {
    position: relative;
    z-index: 2;
    font-family: var(--secondary-font);
    color: var(--main-light-cl);
    margin-bottom: 20px;

    animation: fade-in 800ms ease 500ms backwards alternate;
    transform-origin: left center;

    @media screen and (max-width: calc($mobile - 1px)) {
      @include fonts(46px, 46px, 700, 0.02em);
    }

    @media screen and (max-width: calc($desktop - 1px)) {
      @include fonts(48px, 56px, 700, 0.05em);
    }

    @media screen and (min-width: $desktop) {
      @include fonts(72px, 85px, 700, 0.05em);
    }
  }

  &__desc {
    position: relative;
    z-index: 2;
    @include fonts(16px, 26px);
    color: var(--secondary-font-cl);
    max-width: 306px;

    @media screen and (min-width: $tablet) {
      @include fonts(18px, 30px);
      max-width: 360px;
    }
    @media screen and (min-width: $desktop) {
      max-width: 500px;
    }
  }
}

.hero__list {
  @media screen and (max-width: calc($tablet - 1px)) {
    display: none;
  }

  display: flex;
  align-items: center;
  gap: 40px;

  transform: rotate(-90deg) translateY(27px);
  transform-origin: top left;

  &::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--main-dark-cl);
  }
}

.hero__link {
  @extend %reset-link;
  @include fonts(11px, 15px, 600, 0.2em);

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
