.price {
  @include section;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--price-bg-cl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // mobile screen
  background-image: url('../images/prices/prices-bg_sm@1x.png');
  background-image: -webkit-image-set(url('../images/prices/prices-bg_sm@1x.webp') 1x);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/prices/prices-bg_sm@2x.png');
    background-image: -webkit-image-set(url('../images/prices/prices-bg_sm@2x.webp') 2x);
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    background-image: url('../images/prices/prices-bg_md@1x.png');
    background-image: -webkit-image-set(url('../images/prices/prices-bg_md@1x.webp') 1x);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/prices/prices-bg_md@2x.png');
      background-image: -webkit-image-set(url('../images/prices/prices-bg_md@2x.webp') 2x);
    }
  }

  // desktop screen
  @media screen and (min-width: 1200px) {
    background-image: url('../images/prices/prices-bg_lg@1x.png');
    background-image: -webkit-image-set(url('../images/prices/prices-bg_lg@1x.webp') 1x);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/prices/prices-bg_lg@2x.png');
      background-image: -webkit-image-set(url('../images/prices/prices-bg_lg@2x.webp') 2x);
    }
  }

  &__title {
    margin-bottom: 44px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @media screen and (max-width: calc($desktop - 1px)) {
      padding: 30px 40px;
      background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    }

    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.price__item {
  flex-basis: 50%;
  // padding: 30px 40px;

  &:nth-child(1) {
    @media screen and (min-width: $desktop) {
      padding: 30px 40px;
      background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
  }

  &:nth-child(2) {
    @media screen and (min-width: $desktop) {
      padding: 30px 40px;
      background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
    }
  }
}

.price__inner-item {
  display: flex;
  align-items: baseline;
  gap: 6px;
  @include fonts(14px, 20px);
  color: var(--secondary-font-cl);

  @media screen and(min-width: $tablet) {
    @include fonts(18px, 30px);
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    content: '';

    flex-grow: 1;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
  }
}
.price__inner-desc:first-child {
  order: -1;
}
