.btn {
  min-width: 160px;
  padding: 12px 20px;

  @include fonts(12px, 16px, 600, 0.09em);
  text-transform: uppercase;
  color: var(--main-light-cl);

  background-color: transparent;
  border: 1px solid var(--accent-cl);
  border-radius: 25px;

  transition: background-color var(--animation);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-cl);
}
