.card {
  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__text {
    @include fonts(18px, 28px);
    text-align: center;
    color: var(--main-light);
  }

  &__content {
    padding: 20px;

    border: 1px solid #eeeeee;
    border-top: none;
  }

  &__title {
    @include fonts(18px, 36px, 700, 0.06em);
  }

  &__desc {
    @include fonts(16px, 30px);
    color: var(--secondary-font-cl);
  }
}

.card__link {
  @extend %reset-link;
  display: block;
  transition: box-shadow var(--animation);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: var(--overlay-bg-cl);

  transition: transform var(--animation);

  .card__link:hover & {
    transform: translateY(0);
  }
}
